@font-face {
    font-family: Futura;
    src: url('fonts/Futura-Normal.ttf') format('truetype');
}

@font-face {
    font-family: Granjon;
    src: url('fonts/Granjon.otf') format('truetype');
}
:root {
    --verde: #00A149;
    --blanco: #fff;
    --rojo: #881014;
    --negro: #000;
    --negro-claro:#1b1b1b;
    --titulos: 'Granjon';
    --parrafos: 'Futura';
}
body{  
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--blanco);
    
}

.contenedor-navegacion{
    background-color: var(--negro-claro);
    z-index: 5;
    flex-direction: column;

}

.contenedor-navegacion,.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: var(--blanco);
    height: 70px;
    
}

.navegacion a{
    font-weight: 600;
    font-size: 11px;
    font-weight: 50;
    padding: 0px 10px;
}

nav{
    height: 40px;
}

.navegacion a:hover{
 color: #fff;   
}

.palace{
    color: #a1c751;
}

a.palace:hover{
    color: #a1c751;
}

h1,h2{
    font-family: var(--titulos);
    font-variant: small-caps;
    font-weight: 100;
    font-size: 35px;
    
}

h3,p,a{
    font-family: var(--parrafos);
}

a{
    font-size: 11px;
    color: white;
}

svg{
    height: 40px;
    width: 40px;
    font-family: var(--parrafos);
    font-size: 16px;
}

.navegacion svg{
position: absolute;
top:0;
right: 0;
bottom: 0;
width: 50px;
padding: 16px 5px;
}

.navegacion svg:hover{
    font-style: #fff;
    cursor: pointer;
}

.bolsap {
  position: absolute;
  right: 0;
  width: 90;
  padding: 27.5px 60px 0px 0px;
}

.bolsa{
    position: absolute;
    right: 0;
    width: 0;
    padding: 29.5px 150px 0px 0px;
}



.bolsa{
    height: 13px;
    width: 14px;
}

/*Solucionar Div bolsa*/