@font-face {
    font-family: Futura;
    src: url('fonts/Futura3.woff') format('truetype');
}

@font-face {
    font-family: Granjon;
    src: url('fonts/Granjon.otf') format('truetype');
}
:root {
    --verde: #00A149;
    --blanco: #fff;
    --rojo: #881014;
    --negro: #000;
    --negro-claro:#1b1b1b;
    --titulos: 'Granjon';
    --parrafos: 'Futura';
}
body{  
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--blanco);
    
}


.contenedor-navegacion{
    transition: all .2s ease-in-out;
    background: linear-gradient(to bottom, #1b1b1b, #1b1b1b04);
    z-index: 6;
    flex-direction: column;

}
.contenedor-navegacion:hover{
    transition: all .2s ease-in-out;
    background-color: var(--negro-claro);
}

.contenedor-navegacion{
    display: flex;
    align-items: center;
    height: 120px;
    
}

.contenedor-navegacion{
    position: relative;
}

.contenido-navegacion{
    display: flex;
    align-items: center;
    height: 20px;
}

.logo{
    display: flex;
    align-items: center;
    height: 500px;
}

.logo img{
height: 26px;
width: 160px;
}

.navegacion a{
    font-size: 11px;
    font-weight: 100;
    padding: 0px 10px;
    margin: 0px 10px;
}

.navegacion{
    height: 10px;
}

.navegacion a:hover{
 color: #fff;   
}

.palace{
    color: #a1c751;
}

a.palace:hover{
    color: #a1c751;
}

h3{
    font-family: var(--parrafos);
}

a{
    font-size: 10px;
    color: #e5dfd9;
    font-family: Futura,Arial, Helvetica, sans-serif;
}

p{
    font-size: 10px;
    color: #e5dfd9;
    font-family: Futura,Arial, Helvetica, sans-serif;  
}

.buscador svg{
    height: 45px;
    width: 45px;
}

.buscador{
position: absolute;
top:-2.5%;
right: 0.5%;
width: 3%;
margin: 40px 9px 9px 0px;
}

.buscador:hover{
    font-style: #fff;
    cursor: pointer;
}

.bolsap {
  position: absolute;
  right: 5.5em;
  top: -2.3%;
  padding: 8px;
  margin: 45px 0px 9px ;
}

.bolsap:hover a{
    color: var(--blanco);
}

.bolsa{
    position: absolute;
    right: 11em;
    top: -2.3%;
    padding: 8px;
    margin: 48px 0px 9px ;
}



.bolsa{
    height: 13px;
    width: 14px;
}

.bolsa:hover{
    color: #881014;
}

.sesion{
    position: absolute;
    right: 15em;
    top: -2.3%;
    padding: 8px;
    margin: 45px 0px 9px ;
}

.sesion:hover a{
    color: var(--blanco);
}



.heart{
    height: 29px;
    width: 30;
    color:#e5dfd9c5;
}

.heart i{
    position: absolute;
    right: 13.5em;
    top: -2.2%;
    padding: 8px;
    margin: 45px 0px 9px ;
}

.heart i:hover{
    color: var(--blanco);
}

.number{
    position: absolute;
    left: 14em;
    top: -2.9%;
    padding: 8px;
    margin: 45px 0px 9px ;
}

.number p:hover{
    color: #fff;
}

.phone{
    position: absolute;
    left: 12.8em;
    top: -2.1%;
    padding: 8px;
    margin: 45px 0px 9px ;
    color: #e5dfd9;
}

.phone i:hover{
    color: #fff;
}

.languaje{
    position: absolute;
    left: 8em;
    top: -2.9%;
    padding: 8px;
    margin: 45px 0px 9px ;
}

.languaje p:hover{
    color: #fff;
}

.location{
    position: absolute;
    left: 3em;
    top: -2.9%;
    padding: 8px;
    margin: 45px 0px 9px ;
}

.dot{
    position: absolute;
    left: 2em;
    top: -2.2%;
    padding: 8px;
    margin: 45px 0px 9px ;
    color: #e5dfd9;
}

.dot:hover{
    color: #fff;
}

.location p:hover{
    color: #fff;
}


.container-slider {
    position: relative; 
    bottom: 120px;  
    width: 100%;
    margin: auto;
}

.slider_img{
    
    width: 100%;
    Clip-path: inset(0px 0px 68px 0px);
    filter: brightness(.8);
}

.slider{
    display: flex;
    width: 300%;
    height: 900px;
    margin-left: -100%;/*enfoca la primera imagen*/
}

.slider_section{
    width: 100%;
    
    
   
}

.slider_btn{
    position: absolute;
    color: #e5dfd9;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
}

.slider_btn-left{
left: 10px;
}

.slider_btn-right{
    right: 10px;   
}

.slider{
    opacity: 1;
    -webkit-animation: flash 1s;
    animation: flash 1s;

}

@-webkit-keyframes flash{
    
    0%{opacity: .3;}
    100%{opacity:1;}
}

@keyframes flash{
    0%{opacity: .3;}
    100%{opacity:1;}
}

/*Continuar luego con el slider*/



.btn-comprar{
    padding: 12px 5px;
    margin: 0px 10px 15px;
    position: absolute;
    border-radius: 0px;
    font: var(--parrafos);
    font-variant:small-caps;
    font-weight: 100px;
    top:60%;
    right: 49%;
    color: #ffffff;
    background-color: #00000035;
    
    }




